body {
    font-family: "Fredoka", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: transparent !important;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-nav .nav-item {
    text-align: center;
}

.navbar-nav .nav-link {
    color: #cdc8c8;
    padding: 10px 20px;
    border: none;
    margin: 0 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link.active {
    color:  #f5f0f0;
}

.navbar-nav .nav-link:hover {
    color:  #f5f0f0;
}

.navbar-toggler {
    margin-left: -25px;
    border: none;
}

.navbar-toggler:focus {
    outline: none; 
    box-shadow: none;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.front-image-container {
    position: relative;
    width: 100%;
    max-height: 600px;
    overflow: hidden;
}

.front-image {
    object-fit: cover;
    max-height: 650px;
    width: 100%;
    filter: blur(2px) brightness(20%);
    position: relative;
    z-index: -1;
}

.front-text {
    font-family: "Dela Gothic One", sans-serif;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    text-align: center;
}

.front-text h1 {
    font-size: 4vw;
    color: #f5f0f0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.front-text p {
    font-size: 1.5vw;
    color: #a7a1a1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.pic {
    object-fit: cover;
    max-height: 600px;
    width: 100%;
}

.name {
    font-family: "Fredoka", sans-serif;
    font-weight: bold;
    font-size: 55px;
    text-align: center;
    margin-top: -20px;
    padding-bottom: 20px;
}

.description {
    font-family: 'Special Elite';
    font-size: 18px;
    text-align: center;
}

.other-desc {
    font-family: 'Special Elite';
    font-size: 18px;
    text-align: center;
}

.projects-title {
    font-size: 50px;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.proj-card {
    background: linear-gradient(145deg, #918e95, #f9f5f5);
    border: 3px solid #f5f0f0;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.proj-card:hover {
    transform: scale(1.05);
}

.card-title {
    font-family: "Fredoka", sans-serif;
    color: #f5f0f0;
    margin-bottom: 15px;
    text-shadow: 2px 2px 5px #000;
}

.proj-btn {
    background-color: #2b2b2b;
    color: #f5f0f0;
    font-family: 'Creepster', cursive;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #f5f0f0;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.proj-btn:hover {
    background-color: #716f6f;
    color: #000;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: hidden;
}

.footer {
    font-family: "Fredoka", sans-serif;
    padding: 40px 0;
}

.footer-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.footer-icons a {
    margin: 0 10px;
    font-size: 24px;
}

.footer-icons a:hover {
    transform: scale(1.2);
}

.footer-icon i {
    margin: 0 5px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer p {
    margin-top: 20px;
    font-size: 16px;
}
