.bg-light.navbar {
    background-color: #f8f9fa;
}

.bg-light.navbar .navbar-brand,
.bg-light.navbar .nav-link {
    color: rgb(114, 114, 114);
}

.bg-light.navbar .navbar-brand:hover,
.bg-light.navbar .nav-link:hover {
    color: #FFA2B9;
}

.bg-dark.navbar {
    background-color: #343a40;
}

.bg-dark.navbar .navbar-brand,
.bg-dark.navbar .nav-link {
    color: white;
}

.bg-dark.navbar .navbar-brand:hover,
.bg-dark.navbar .nav-link:hover {
    color: #FFA2B9;
}

.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-link {
    transition: color 0.3s ease;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.video-background {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    padding: 0;
    color: rgb(224, 161, 161);
}

h1.display-1 {
    font-family: 'Ultra';
    margin-bottom: 0;
}

p.lead {
    font-family: 'Acme';
    color: rgb(114, 114, 114);
    margin-top: 0;
}

.description-section {
    background-color: #f8e9f5;
    color: rgb(114, 114, 114);
    padding: 40px 0;
}

.description-section h2 {
    font-family: 'Ultra';
    margin-bottom: 20px;
}

.description-paragraph {
    font-family: 'Acme';
    font-size: 18px;
    line-height: 1.6;
}

/* Image styling */
.description-section img {
    max-width: 100%;
    height: auto;
}

.gallery-heading {
    font-family: 'Ultra'; 
    font-size:40px ;
    font-weight: bold;
    color: rgb(224, 161, 161);
}

#cardContainer {
    margin-top: 30px;
}

.card {
    border: none;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-family: 'Acme', sans-serif;
    font-size: 19px;
}

.card-img-top {
    cursor: pointer;
    transition: transform 0.2s;
}

.card-img-top:hover {
    transform: scale(1.05);
}


.btn-primary {
    background-color: #FFA2B9;
    border-color: #FFA2B9;
    padding: 5px 10px;
    font-size: 14px;
}

.btn-primary:hover {
    background-color: #ff8a9a; 
    border-color: #ff8a9a;
}

.shadow {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

