body {
  font-family: Arial, sans-serif;
  background-color: #010101;
  margin: 0;
  padding: 20px 0 0 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
}

.card {
  width: 800px;
  max-width: 100%;
  background: #010101;
  border-radius: 12px;
  border: 1px solid #5da3bd;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
  overflow-y: auto;
  margin: 0 auto;
}

.cardLogo {
  width: 80px;
  display: block;
  margin: 0 auto 20px auto;
}

.btnSymbol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.imageButton {
  color: white;
  border: none;
  background: none;
  margin: 0.3rem;
  padding: 0;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.imageButton:hover {
  transform: scale(1.1);
}

.zodiacButtonImg {
  width: 90px;
  height: 90px;
  object-fit: contain;
  display: block;
  pointer-events: none;
}

#zodiacInfo {
  color: white;
}

#zodiacInfo h2 {
  font-family: "Love Light", cursive;
  font-size: 70px;
  margin-top: 5px;
}

#zodiacInfo p {
  font-size: 20px;
  margin-top: 18px;
}

#zodiacTraits {
  font-size: 20px;
  margin-top: 0.5rem;
  font-style: italic;
}

#backButton {
  margin-top: 18px;
  padding: 4px 12px;
  background-color: #191828;
  border-color: white;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

#backButton:hover {
  transform: scale(1.1);
}
