.keyart,
.keyart_layer {
    height: 1000px;
}

.keyart {
    position: relative;
    z-index: 10;
}

.keyart_layer {
    background-position: bottom center;
    background-size: auto 1038px;
    background-repeat: repeat-x;
    width: 100%;
    position: absolute;
}

.keyart_layer.parallax {
    position: fixed;
}

.main-content {
    width: 100%;
    position: absolute;
    z-index: 200;
    padding: 50px;
    background-color: rgb(139, 139, 255);
    margin-top: 30vh;
}

#keyart-0 {
    background-image: url(assets/image0.png);
    background-size: cover;
    background-position: center center;
    height: 70vh;
}

#keyart-1 {
    background-image: url(assets/image1.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin-bottom: 20px;
}

#keyart-2 {
    background-image: url(assets/image2.png);
    background-size: cover;
    background-position: center center;
    height: 70vh;
}

#keyart-3 {
    background-image: url(assets/image3.png);
    background-size: cover;
    background-position: center center;
    height: 70vh;
}

/* Medium Screen */
@media (max-width: 1300px) {
    .keyart,
    .keyart_layer {
        height: 350px;
    }

    #keyart-0, #keyart-1, #keyart-2, #keyart-3 {
        height: 55vh;
    }

    .main-content {
        margin-top: 30vh;
    }
}

/* Small Screen */
@media (max-width: 900px) {
    .keyart,
    .keyart_layer {
        height: 220px;
    }

    #keyart-0, #keyart-1, #keyart-2, #keyart-3 {
        height: 35vh;
    }

    #keyart-1 {
        background-position: center bottom;
        height: 40vh;
        margin-bottom: 20px; 
    }

    .main-content {
        margin-top: 30vh; 
    }
}

/* Extra Small Screen */
@media (max-width: 600px) {
    .keyart,
    .keyart_layer {
        height: 129px;
    }

    #keyart-0, #keyart-1, #keyart-2, #keyart-3 {
        height: 22vh;
    }

    #keyart-1 {
        background-position: center bottom;
        height: 35vh;
        margin-bottom: 15px; 
    }

    .main-content {
        margin-top: 30vh;
    }
}
